<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MIS工作</title>
    <style type="text/css">
* {
font-family: "標楷體"; }

header {
font-size: 20px;
color: #55ff55; }
        h6{
            font-size: 20px;
            color: #000000;
        }
        h3{
            font-size: 20px;
            color: #55ff55;
        }
        p{
            font-size: 20px;
            color: #000000;
        }  

        .col-lg-4 {
    border: 1px #000000 solid; }


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
        <a class="navbar-brand" href="#">MENU</a>
                   
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
   
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
       
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#jobs">職務</a></li>
            <li class="nav-item"><a class="nav-link" href="#needs">工作內容</a></li>
            <li class="nav-item"><a class="nav-link" href="#content">工作地點、時常與月薪</a></li>
            <li class="nav-item"><a class="nav-link" href="#content">條件要求</a></li>
        </ul>
        </div>
    </nav>

    <main class="container-fluid bg-tanger text-white text-center">
   
        <nav>
            <h1><a href="https://www.104.com.tw/job/7c9ka?jobsource=hotjob_chr">奇美集團_新視代科技股份有限公司 </a></h1>
        </nav>

        <img src="UCAN.jpg" alt="照片">
        <br><br><br>


    <div class="row">

    <session id="jobs" class="col-lg-4">
       
        <header><h4>職務</h4></header>
        <h6>軟體設計工程師、MIS程式設計師、營運管理師/系統整合/ERP專案師</h6>

        <header><h4>工作內容</h4></header>

        <h6>1. 應用系統開發設計、維護<br>
            2. MS SQL Server資料庫規劃、設計 <br>
            3. 系統作業流程優化 <br>     
        </h6>
    </session>

    <article id="needs" class="col-lg-4">
        <header><h4>工作地點、時常與月薪</h4></header>
           
            <h6><b>工作待遇:</b>月薪50,000元以上</h6>
            <h6><b>上班時段:</b>日班，08:30 - 17:30(彈性30分鐘)</h6>
            <h6><b>休假制度:</b>周休二日</h6>
            <h6><b>上班地點:</b>新北市中和區橋和路15號10樓(台灣科技廣場)(距捷運橋和站200公尺)</h6>

    </article>
   
    <aside id="content" class="col-lg-4">
        <header><h4>條件要求</h4></header>

            <h6><b>接受身分:</b>上班族，原住民</h6>
            <h6><b>工作經歷:</b>6年以上</h6>
            <h6><b>學歷要求:</b>大學、碩士</h6>
            <h6><b>擅長工具:</b>ASP.NET、C#、MS SQL</h6>
        </aside>

    <footer>  
    <p><h3>自傳履歷</h3></p>
    <h6><b>我認為我自己有一個優勢是有積極的態度，不管面對甚麼困難我都不會放棄，我會努力解決問題，跟著團隊一起尋找答案，我也可以為團隊帶來活力，我也是一個樂於學習的人，跟著團隊一起學習，有不足的地方我就可以改進，一起進步跟著公司團隊一起促進公司的風氣跟讓公司變得更好。<b></h6>
    </footer>
    </div><br><br>
 

   

</body>
</html>

